$height100: 100%;

ion-grid {
    width:90%;
    height: $height100;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background :white;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: transparent;
    }
    ion-col {
        border: none;
    }
}

.flag {
   width: 60px; 
   height: 30px;
}

ion-content {
    --background: none;
    background-image: url('../../assets/img/login.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.label {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}