<ion-header>
  <ion-toolbar>
    <ion-title>
      My Course
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/img/blackboard.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Adults-A1</h2>
        </ion-text>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-text class="ion-text-center">
          Betiru Taruti
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/img/blackboard.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Advanced-M2</h2>
        </ion-text>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-text class="ion-text-center">
          Betiru Taruti
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/img/blackboard.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>French_Advanced</h2>
        </ion-text>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-text class="ion-text-center">
          Betiru Taruti
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/img/blackboard.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Starters</h2>
        </ion-text>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-text class="ion-text-center">
          Betiru Taruti
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/img/blackboard.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Atelier de lecture</h2>
        </ion-text>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-text class="ion-text-center">
          Betiru Taruti
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
