<ion-content>
  <div class="davatar">
    <ion-avatar class="avatar">
        <img src="./assets/img/profile.png">
    </ion-avatar>
    <ion-item lines="none" text-center color="primary">
      <ion-label>
          <h1>Alisa</h1>
          <ion-icon name="mail" slot="start"></ion-icon>
          xuke@example.com
      </ion-label>
    </ion-item>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="pulse" slot="start"></ion-icon>
      <ion-label>My Progress</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Language</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>