<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <!--<img src="./assets/img/france.jpeg" />-->
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>Adults-A1</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-item>
    <ion-card-content>
      1 Vote | 308 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>French-Pre-Advanced</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-item>
    <ion-card-content>
      2 Votes | 238 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>Advanced-M2</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-item>
    <ion-card-content>
      0 Votes | 47 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>French_Advanced</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-item>
    <ion-card-content>
      2 Votes | 220 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>Starters</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
    </ion-item>
    <ion-card-content>
      2 Votes | 124 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LANGUAGE SKILLS</ion-card-subtitle>
      <ion-card-title>Atelier de lecture</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-item>
    <ion-card-content>
      1 Vote | 42 Visits | Your vote [?]
    </ion-card-content>
  </ion-card>
</ion-content>
